*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

.container h1{
  font-size: 200%;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 50px;
}

.preview {
  position:relative;
  height: 300px;
}

.preview baku {
  background-image: url(/images/baku.jpg);
  width: 100%;
}

.preview h1{
  font-size: 150%;
  font-family: sans-serif;
  text-align: left;
  padding-top: 50px;
  padding-left: 50px;
}
